/Mentopa_IT13B_activities/nbproject/private/
/Mentopa_IT13B_activities/Mentopa_IT13B_activities/nbproject/private/
/Mentopa_IT13B_activities/Mentopa_IT13B_activities/build/
/Mentopa_IT13B_activities/Palindrome_Mentopa/nbproject/private/
/Mentopa_IT13B_activities/Palindrome_Mentopa/build/
